<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <h1 class="col-md-4 offset-md-1">Recetas</h1>
        <div class="col-md-6 offset-md-1">
            <h2>Categorías</h2>
            <h5>Tortas</h5>
            <ul>
                <li><a class="enlaceespecial" href="">Brownie</a></li>
                <li><a class="enlaceespecial" href="">Tiramisú</a></li>
            </ul>
            <h5>Chocolatería</h5>
            <ul>
                <li><a class="enlaceespecial" href="">Bombones</a></li>
                <li><a class="enlaceespecial" href="">Chocolate en rama</a></li>
            </ul>
            <h5>Pastelería</h5>
            <ul>
                <li><a class="enlaceespecial" href="">Mousse de chocolate</a></li>
                <li><a class="enlaceespecial" href="">Panqueques</a></li>
                <li><a class="enlaceespecial" href="">Volcán de chocolate</a></li>
            </ul>
        </div>
    </div>
</div>