<div class="container-fluid">
    {{!-- inicio home fila --}}
    <div id="home" class="row align-items-center hero">
        {{!-- inicio recetario --}}
        <div class="col-md-5 offset-md-1 py-3">
            <h1>Recetario</h1>
            <p>En este recetario encontrarás recetas que han ido influyendo de alguna manera a lo largo de mi
                vida,
                es un conjunto de postres y comidas que hemos hecho en familia toda la vida y que me pareció
                bonito
                compartir con el mundo.</p>
        </div>
        {{!-- fin recetario --}}
        {{!-- inicio carrusel --}}
        <div class="col-md-3 offset-md-2 py-3">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="images/tiramisu.jpg" class="d-block w-100" alt="Tiramisú">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="receta">Tiramisú</h5>
                            <p class="recetusel">Para ver esta receta hace <a href="" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">click aquí</a></p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="images/Volcan.jpg" class="d-block w-100" alt="Volcan de chocolate">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="receta">Volcán de chocolate</h5>
                            <p class="recetusel">Para ver esta receta hace <a href="" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal1">click aquí</a></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="images/Brownie.jpg" class="d-block w-100" alt="Brownie">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="receta">Brownies</h5>
                            <p class="recetusel">Para ver esta receta hace <a href="" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal2">click aquí</a></p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
            {{!-- inicio modal 1--}}
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Tiramisú</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6>Ingredientes:</h6>
                            <ul>
                                <li>vainillas   2 paquetes pequeños</li>
                                <li>oporto  c/n</li>
                                <li>café  c/n</li>
                                <li>huevos  2</li>
                                <li>queso crema  200gr</li>
                                <li>azúcar  100gr</li>
                                <li>cacao en polvo  c/n</li>
                            </ul>
                            <h6>Procedimiento:</h6>
                            <ol>
                                <li>mezclar los huevos con el queso crema y el azúcar</li>
                                <li>hacer un marinado con el café y el oporto</li>
                                <li>pasar las vainillas por la mezcla del paso anterior y disponerlas en el molde</li>
                                <li>intercalar las vainillas humedas con la mezcla del paso 1</li>
                                <li>al finalizar espolvorearle cacao en polvo por encima</li>
                                <li>llevar al frío por al menos 2hs</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- fin modal 1--}}
            {{!-- inicio modal 2--}}
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel1">Volcán de chocolate</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            h6>Ingredientes:</h6>
                            <ul>
                                <li>chocolate  150gr</li>
                                <li>manteca  100gr</li>
                                <li>azúcar  100gr</li>
                                <li>harina  2cdas</li>
                                <li>huevo   2</li>
                            </ul>
                            <h6>Procedimiento:</h6>
                            <ol>
                                <li>derretir la manteca con el chocolate</li>
                                <li>mezclar los huevos con el azúcar hasta que se espumen</li>
                                <li>agregar la mezcla del paso 1 a temperatura ambiente</li>
                                <li>agregar el harina y unir</li>
                                <li>llevar a horno medio (200°) por 8'</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- fin modal 2--}}
            {{!-- inicio modal 3--}}
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel2">Brownies</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6>Ingredientes:</h6>
                            <ul>
                                <li>chocolate    150gr</li>
                                <li>huevos          3</li>
                                <li>azúcar       150gr</li>
                                <li>manteca      100gr</li>
                                <li>harina       50gr</li>
                            </ul>
                            <h6>Procedimiento:</h6>
                            <ol>
                                <li>derretir la manteca y el chocolate</li>
                                <li>hacer un merengue con las claras y el azucar</li>
                                <li>agregar la yemas a la mezcla de chocolate y manteca</li>
                                <li>unir el paso anterior con el merengue</li>
                                <li>agregar la harina</li>
                                <li>cocinar a 180° por 20'</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- fin modal 3--}}
        </div>
        {{!-- fin carrusel --}}
        {{!-- fin fila --}}
    </div>
</div>