<div class="fondo1">
    <h1 style="margin-top: 0px;">{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <div class="marco">
        <div class="cuadro">
        </div>
        <div class="cuadro">
        </div>
    </div>
</div>
<div class="marco1">
    <div class="cuadro1" style="margin-left: 0px;"><img src="/images/casa.jpg" alt="" id="img1"></div>
    <div class="cuadro1" style="margin-right: 0px;"></div>
</div>
<div class="rectangulo"></div>
<div class="rectangulo1"><h2 class="titulo2"><span>Nuestro equipo</span></h2></div>
<div class="juntapersonitas">
    <div class="personita"></div>
    <div class="personita"></div>
    <div class="personita"></div>
    <div class="personita"></div>
</div>
<div class="marco1">
    <div class="cuadro1" style="margin-left: 0px;"><img src="/images/casa.jpg" alt="" id="img1"></div>
    <div class="cuadro1" style="margin-right: 0px;"></div>
</div>