<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <footer><p class="foot">enlaces y contactos</p><p class="foot">(0221) 606-2953</p><a href="instagram.com" class="foot"><img src="https://static.wixstatic.com/media/01c3aff52f2a4dffa526d7a9843d46ea.png/v1/fill/w_20,h_20,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/instagram.png" alt="instagram"></a></footer>
</html>
