h1,
h2 {
    font-family: 'Hurricane', cursive;
}

p {
    font-family: 'Dosis', sans-serif;
}

.hero {
    background: url(/images/marmol.png) no-repeat;
    background-size: cover;
    height: 0.5vh;
    min-height: 600px;
}

.navbar {
    background-color: black;
}

a {
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
}

a:hover {
    color: chocolate;
}

.enlaceespecial {
    color: black;
    text-decoration: none;
}

.enlaceespecial:hover {
    color: chocolate;
}

.nav-link {
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
}

.nav-link:hover,
.nav-link:focus {
    color: chocolate;
}

.dropdown-item {
    font-family: 'Raleway', sans-serif;
    color: antiquewhite;
}

.dropdown-item:active,
.dropdown-item:hover {
    background-color: chocolate;
    color: antiquewhite;
}

.dropdown-menu {
    background-color: black;
}

.btn-outline-success {
    color: antiquewhite;
    border-color: antiquewhite;
    background-color: black;
}

.btn-outline-success:hover {
    color: chocolate;
    background-color: antiquewhite;
}

.receta {
    color: rgb(99, 5, 5);
}

.recetusel {
    color: rgb(99, 5, 5);
}

.d-block {
    opacity: 0.6
}

.imgfooter {
    width: 10px;
    height: 10px;
}

.lista-novedades {
    margin: 0;
    padding: 0;
    list-style: none;
}

.lista-novedades li {
    margin: 4px 0;
}

.lista-novedades li a {
    color: black;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
} 

.lista-novedades li a:hover {
    color: chocolate;
}

.lista-novedades li a img {
    width: 180px;
    height: 90px;
    filter: grayscale();
    transition: all .2s ease-in-out;
    margin-right: 1rem;
    opacity: 0.7;
}

.lista-novedades li a:hover img {
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}


footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding-top: 0px;
    background-color: black;
    color: antiquewhite;
  }

#footdiv {
    text-align: right;
    padding-right: 15px;
    padding-bottom: 5px;
    margin-top: 0%;
}

.text-left {
    padding-left: 15px;
    padding-top: 5px;
    margin-bottom: 0%;
}

.afoot {
    text-decoration: none;
}

