<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/recetas">Recetas</a></li>
      <li><a href="/quienessomos">¿Quienes somos?</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </nav>



  {{{body}}}
</body>

</html>