<h1>Página de recetas</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis repellat quae porro a exercitationem cum
    accusantium in labore neque, sit dolores aut delectus cumque voluptatum earum consequatur quaerat, atque impedit.
</p>
<ol>
    <li>mate</li>
    <li>pizza</li>
</ol>