/* #fondo1 {
    background: url(/images/biblio.jpg) no-repeat;
    background-size: cover;
    height: 0.5vh;
    min-height: 600px;
}

#fondo1 {
    background-color: aquamarine;
} */

#marcos {
    background-color: blue;
}