<div class="container-fluid">
    <div id="home" class="row align-items-center hero">  
        {{!-- inicio titulo --}}
        <div id="cuerpo1" class="col-md-4 offset-md-1 py-3">
            <h1>Chocolatería</h1>
            <p>Somos una familia que se dedica a poner en conocimiento de todos algunas recetas que consideramos
                deliciosas y fáciles para compartir con todos los seres queridos.</p>
        </div>
        {{!-- fin titulo --}}
    </div>
</div>