<link rel="stylesheet" href="/stylesheets/categorias.css">
<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        {{!-- inicio titulo --}}
        <div class="col-md-4 offset-md-1 py-3">
            <h1>Pastelería</h1>
            <p>Aquí encontraremos recetas de pasterlería </p>
        </div>
        {{!-- fin titulo --}}
        <div class="col-md-6 offset-md-1 py-3">
            <ul class="list-group">
                <li class="list-group-item" id="croissant1"><a href="" class="linklistascategorias" data-bs-toggle="modal" data-bs-target="#croissant">Croissant</a></li>
                <li class="list-group-item" id="tartadefrutillas1"><a href="" class="linklistascategorias" data-bs-toggle="modal" data-bs-target="#tartadefrutillas">Tarta de frutillas</a></li>
                <li class="list-group-item" id="cuadraditosdementa1"><a href="" class="linklistascategorias" data-bs-toggle="modal" data-bs-target="#cuadraditosdementa">Cuadraditos de menta</a></li>
                <li class="list-group-item" id="flan1"><a href="" class="linklistascategorias" data-bs-toggle="modal" data-bs-target="#flan">Flan</a></li>
                <li class="list-group-item" id="profiteroles1"><a href="" class="linklistascategorias" data-bs-toggle="modal" data-bs-target="#profiteroles">Profiteroles</a></li>
                <li class="list-group-item" id="macarons1"><a href="" class="linklistascategorias" data-bs-toggle="modal" data-bs-target="#macarons">Macarons</a></li>
            </ul>
        </div>
        {{!-- inicio modal 1--}}
            <div class="modal fade" id="croissant" tabindex="-1" aria-labelledby="croissant"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="croissant">Croissant</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <img src="/images/croissant.jpg" alt="croissant" class="imgmodalcategorias">
                        <div class="modal-body">
                            <h6>Ingredientes:</h6>
                            <ul>
                                <li>harina   250gr</li>
                                <li>levadura fresca  75gr</li>
                                <li>azúcar  50gr</li>
                                <li>agua tibia  125ml</li>
                                <li>harina  750gr</li>                                
                            </ul>
                            <h6>Procedimiento:</h6>
                            <ol>
                                <li>mezclar los huevos con el queso crema y el azúcar</li>
                                <li>hacer un marinado con el café y el oporto</li>
                                <li>pasar las vainillas por la mezcla del paso anterior y disponerlas en el molde</li>
                                <li>intercalar las vainillas humedas con la mezcla del paso 1</li>
                                <li>al finalizar espolvorearle cacao en polvo por encima</li>
                                <li>llevar al frío por al menos 2hs</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- fin modal 1--}}
            {{!-- inicio modal 2--}}
            <div class="modal fade" id="tartadefrutillas" tabindex="-1" aria-labelledby="tartadefrutillas"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="tartadefrutillas">Tarta de frutillas</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                         <img src="/images/tartadefrutilla.jpg" alt="tartadefrutillas" class="imgmodalcategorias">
                        <div class="modal-body">
                            <h6>Ingredientes:</h6>
                            <ul>
                                <li>vainillas   2 paquetes pequeños</li>
                                <li>oporto  c/n</li>
                                <li>café  c/n</li>
                                <li>huevos  2</li>
                                <li>queso crema  200gr</li>
                                <li>azúcar  100gr</li>
                                <li>cacao en polvo  c/n</li>
                            </ul>
                            <h6>Procedimiento:</h6>
                            <ol>
                                <li>mezclar los huevos con el queso crema y el azúcar</li>
                                <li>hacer un marinado con el café y el oporto</li>
                                <li>pasar las vainillas por la mezcla del paso anterior y disponerlas en el molde</li>
                                <li>intercalar las vainillas humedas con la mezcla del paso 1</li>
                                <li>al finalizar espolvorearle cacao en polvo por encima</li>
                                <li>llevar al frío por al menos 2hs</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- fin modal 2--}}
            {{!-- inicio modal 3--}}
            <div class="modal fade" id="cuadraditosdementa" tabindex="-1" aria-labelledby="cuadraditosdementa"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="cuadraditosdementa">Cuadraditos de menta</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                         <img src="/images/cuadraditosmenta.jpg" alt="cuadraditosdementa" class="imgmodalcategorias">
                        <div class="modal-body">
                            <h6>Ingredientes:</h6>
                            <ul>
                                <li>vainillas   2 paquetes pequeños</li>
                                <li>oporto  c/n</li>
                                <li>café  c/n</li>
                                <li>huevos  2</li>
                                <li>queso crema  200gr</li>
                                <li>azúcar  100gr</li>
                                <li>cacao en polvo  c/n</li>
                            </ul>
                            <h6>Procedimiento:</h6>
                            <ol>
                                <li>mezclar los huevos con el queso crema y el azúcar</li>
                                <li>hacer un marinado con el café y el oporto</li>
                                <li>pasar las vainillas por la mezcla del paso anterior y disponerlas en el molde</li>
                                <li>intercalar las vainillas humedas con la mezcla del paso 1</li>
                                <li>al finalizar espolvorearle cacao en polvo por encima</li>
                                <li>llevar al frío por al menos 2hs</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- fin modal 3--}}
            {{!-- inicio modal 4--}}
            <div class="modal fade" id="flan" tabindex="-1" aria-labelledby="flan"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="flan">Flan</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                         <img src="/images/flan.jpg" alt="flan" class="imgmodalcategorias">
                        <div class="modal-body">
                            <h6>Ingredientes:</h6>
                            <ul>
                                <li>vainillas   2 paquetes pequeños</li>
                                <li>oporto  c/n</li>
                                <li>café  c/n</li>
                                <li>huevos  2</li>
                                <li>queso crema  200gr</li>
                                <li>azúcar  100gr</li>
                                <li>cacao en polvo  c/n</li>
                            </ul>
                            <h6>Procedimiento:</h6>
                            <ol>
                                <li>mezclar los huevos con el queso crema y el azúcar</li>
                                <li>hacer un marinado con el café y el oporto</li>
                                <li>pasar las vainillas por la mezcla del paso anterior y disponerlas en el molde</li>
                                <li>intercalar las vainillas humedas con la mezcla del paso 1</li>
                                <li>al finalizar espolvorearle cacao en polvo por encima</li>
                                <li>llevar al frío por al menos 2hs</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- fin modal 4--}}
            {{!-- inicio modal 5--}}
            <div class="modal fade" id="profiteroles" tabindex="-1" aria-labelledby="profiteroles"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="profiteroles">Profiteroles</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                         <img src="/images/profi.jpg" alt="profiteroles" class="imgmodalcategorias">
                        <div class="modal-body">
                            <h6>Ingredientes:</h6>
                            <ul>
                                <li>vainillas   2 paquetes pequeños</li>
                                <li>oporto  c/n</li>
                                <li>café  c/n</li>
                                <li>huevos  2</li>
                                <li>queso crema  200gr</li>
                                <li>azúcar  100gr</li>
                                <li>cacao en polvo  c/n</li>
                            </ul>
                            <h6>Procedimiento:</h6>
                            <ol>
                                <li>mezclar los huevos con el queso crema y el azúcar</li>
                                <li>hacer un marinado con el café y el oporto</li>
                                <li>pasar las vainillas por la mezcla del paso anterior y disponerlas en el molde</li>
                                <li>intercalar las vainillas humedas con la mezcla del paso 1</li>
                                <li>al finalizar espolvorearle cacao en polvo por encima</li>
                                <li>llevar al frío por al menos 2hs</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- fin modal 5--}}
            {{!-- inicio modal 6--}}
            <div class="modal fade" id="macarons" tabindex="-1" aria-labelledby="macarons"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="macarons">Macarons</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                         <img src="/images/macarons.jpg" alt="macarons" class="imgmodalcategorias">                    
                        <div class="modal-body">
                            <h6>Ingredientes:</h6>
                            <ul>
                                <li>vainillas   2 paquetes pequeños</li>
                                <li>oporto  c/n</li>
                                <li>café  c/n</li>
                                <li>huevos  2</li>
                                <li>queso crema  200gr</li>
                                <li>azúcar  100gr</li>
                                <li>cacao en polvo  c/n</li>
                            </ul>
                            <h6>Procedimiento:</h6>
                            <ol>
                                <li>mezclar los huevos con el queso crema y el azúcar</li>
                                <li>hacer un marinado con el café y el oporto</li>
                                <li>pasar las vainillas por la mezcla del paso anterior y disponerlas en el molde</li>
                                <li>intercalar las vainillas humedas con la mezcla del paso 1</li>
                                <li>al finalizar espolvorearle cacao en polvo por encima</li>
                                <li>llevar al frío por al menos 2hs</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- fin modal 6--}}
    </div>
</div>