<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div class="col-md-5 offset-md-1 py-3">
            <h1>Tortas</h1>
            <p>Somos una familia que se dedica a poner en conocimiento de todos algunas recetas que consideramos
                deliciosas y fáciles para compartir con todos los seres queridos.</p>
        </div>
    </div>
</div>