body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(/images/marmol.png) no-repeat;
  background-size: cover;
  height: 0.5vh;
  min-height: 600px;
}

a {
  color: #00B7FF;
}

div {
  text-align: center;
}

button {
  color: black;
  border-color: antiquewhite;
  background-color: transparent;
  border: 1px;
}

button:hover {
  color: whitesmoke;
  background-color: black;
  border-radius: 10px;
}

input {
  border-color: black;
  border-radius: 5px;
}